.inputOption {
   display: flex;
   align-items: center;
   margin-top: 15px;
   padding: 10px;
   color: gray;
}

.inputOption:hover {
   background-color: whitesmoke;
   cursor: pointer;
   border-radius: 10px;
}

.inputOption > h4 {
   margin-left: 10px;
}
